{% extends "layout.html" %}
{% block content %}
    <h1>Orders</h1>
        {% for order in orders %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2><a class="article-title" href="#">{{ order.order_id }}</a></h2>
                        <small class="text-muted">Shipping: £{{ order.shipping_amount }}</small>
                        <small class="text-muted">Items: £{{ order.price_amount }}</small>
                        <small class="text-muted">Subtotal: £{{ order.order_subtotal }}</small>
                    </div>
                    <p class="article-content">Date: {{ order.order_date }}</p>
                    <p class="article-content">Status: {{ order.order_status }}</p>
                    <p class="article-content">Shipping Method: {{ order.shipping_method }}</p>
                </div>
            </article>
        {% endfor %}
{% endblock content %}