{% extends "layout.html" %}
{% block content %}
    <h1>Products</h1>
        {% for product in products %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2><a class="article-title" href="#">{{ product.product_name }}</a></h2>
                        <small class="text-muted">£{{ product.unit_price }}</small>
                    </div>
                    <p class="article-content">{{ product.product_description }}</p>
                    <p class="article-content">Weight: {{ product.product_weight }}kg</p>
                </div>
            </article>
        {% endfor %}
{% endblock content %}